body {
  font-family: "IBM Plex Sans", arial;
  margin: 0;
  padding: 0;
  background-color: rgb(245, 245, 245);
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

#bg_slider-main {
  position: absolute;
  z-index: -5;
  width: 100%;
  top: 0;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  animation: bgSlide 8s linear infinite 0s;
  animation-timing-function: ease-in-out;
  background-image: url(img/bg.png);
  height: 55vh;
}

@keyframes bgSlide {
  0% {
    background-image: url(img/bg.png);
  }
  25% {
    background-image: url(img/bg.png);
  }
  50% {
    background-image: url(img/bg_w.png);
  }
  75% {
    background-image: url(img/bg_w.png);
  }
  100% {
    background-image: url(img/bg.png);
  }
}
#bg_slider-website {
  position: absolute;
  z-index: -5;
  top: 0;
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  animation: bgWebSlide 8s linear infinite 0s;
  animation-timing-function: ease-in-out;
  background-image: url(img/bg_w.png);
  height: 30vh;
}

@keyframes bgWebSlide {
  0% {
    background-image: url(img/bg_w.png);
  }
  25% {
    background-image: url(img/bg_w.png);
  }
  50% {
    background-image: url(img/bg.png);
  }
  75% {
    background-image: url(img/bg.png);
  }
  100% {
    background-image: url(img/bg_w.png);
  }
}
.button {
  height: 48px;
  width: 202px;
  background-color: rgb(226, 26, 26);
  color: rgb(225, 225, 225);
  border: none;
  font-size: 16px;
  line-height: 19.3px;
}

.height {
  height: 100%;
}

.heading {
  max-width: 839px;
  position: absolute;
  bottom: 20%;
  left: 61px;
}

.mask_height {
  height: 50vh;
}
.mask_website {
  height: 25vh;
}

.container {
  padding-left: 66px;
  padding-right: 66px;
  max-width: 1920px;
  margin: auto;
}

.logo {
  margin-top: 12px;
}

h1 {
  font-size: 40px;
  line-height: 48px;
  color: rgb(255, 255, 255);
}

h2 {
  font-size: 34px;
  line-height: 37.4px;
}

h3 {
  font-size: 20px;
  line-height: 24px;
  color: rgb(255, 255, 255);
}

h4 {
  font-size: 16px;
  line-height: 19.3px;
  color: rgb(130, 130, 130);
}

.svg:hover .svg_color {
  filter: invert(26%) sepia(71%) saturate(4360%) hue-rotate(350deg) brightness(89%) contrast(100%);
}

header {
  font-size: 12px;
  line-height: 14.58px;
  color: rgb(255, 255, 255);
  padding-top: 13px;
  padding-bottom: 13px;
}

.block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.block_top-border {
  border-top: 1px solid rgb(118, 125, 137);
}
.block_news {
  margin-top: 60px;
}
.block_news h2 {
  margin: 0;
}
.block_news a {
  color: black;
}
.block a:hover {
  color: rgb(226, 26, 26);
}
.block_tg {
  margin-top: 20px;
  margin-bottom: 40px;
  min-height: 69px;
  padding-left: 20px;
  padding-right: 20px;
}
.block_tg h3 {
  color: black;
  font-size: 24px;
  line-height: 28.94px;
}
.block_between {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.block_between--margin {
  margin: 40px -10px;
}
.block_info {
  flex: 1 1 auto;
  margin: 0 10px 20px;
  width: 27%;
  height: 256px;
}
.block_info a {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.block_info a h2, .block_info a p {
  margin: 20px 0 20px 20px;
}
.block_info--bgWhite {
  background-color: rgb(255, 255, 255);
}
.block_info--bgWhite a:hover h2 {
  color: rgb(226, 26, 26);
}
.block_info--bgWhite p {
  font-size: 16px;
  line-height: 20.8px;
  color: rgb(118, 125, 137);
}
.block_info--bgWhite h2 {
  color: black;
}
.block_info--bgImg .svg_color {
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(19deg) brightness(99%) contrast(102%);
}
.block_info--bgImg p {
  font-size: 16px;
  line-height: 20.8px;
  color: rgb(255, 255, 255);
}
.block_info--bgImg h2 {
  color: rgb(255, 255, 255);
}
.block_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.head_span {
  background-color: rgb(226, 26, 26);
}

nav {
  position: relative;
}
nav ul::before {
  content: "";
  display: block;
  position: absolute;
  top: 45px;
  width: 94.6%;
  left: 2.7%;
  border-bottom: 1px solid rgb(118, 125, 137);
  z-index: -1;
}

.nav {
  padding: 0;
}
.nav_active {
  position: relative;
}
.nav_active:before {
  content: "";
  position: absolute;
  top: 33px;
  width: 100%;
  border-bottom: 1px solid rgb(255, 255, 255);
}
.nav li {
  padding-left: 2.29vw;
  padding-right: 2.29vw;
}
.nav li a {
  font-size: 12px;
  line-height: 14.58px;
  color: rgb(255, 255, 255);
}
.nav li a p {
  margin: 0;
}
.nav_company {
  padding: 0;
}
.nav_company li {
  padding: 20px 0;
}
.nav_company p {
  padding: 0 20px;
  margin: 0;
  position: relative;
}
.nav_company-bottom {
  padding-bottom: 40px !important;
}
.nav_company-border:after {
  content: "";
  display: block;
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: -20px;
  z-index: 1;
  border-bottom: 1px solid rgb(211, 211, 211);
}
.nav_company-active p {
  color: rgb(226, 26, 26);
  border-left: 1px solid rgb(195, 27, 28);
}

.bgImg {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.bgImg_job {
  background-image: url(img/job.png);
}
.bgImg_advertisement {
  background-image: url(img/advertisement.png);
}
.bgImg_schedule {
  background-image: url(img/schedule.png);
}

.icon_top {
  display: flex;
  align-items: start;
  height: 100%;
}
.icon_top img {
  margin: 30px 20px;
}

.svg_search .svg_color {
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(19deg) brightness(99%) contrast(102%);
}

.visually_impaired {
  padding-right: 2.08vw;
  color: rgb(255, 255, 255);
}
.visually_impaired .svg_color {
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(19deg) brightness(99%) contrast(102%);
}
.visually_impaired p {
  padding-right: 0.69vw;
}

.card {
  border-bottom: 1px solid rgb(211, 211, 211);
}
.card_bottom {
  border: none;
  padding-bottom: 100px;
}
.card_padding {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  margin: 0 10px 20px;
  padding: 20px;
  background-color: rgb(255, 255, 255);
}
.card_padding > a {
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
  width: 97%;
}
.card_padding > a:hover h4 {
  color: rgb(226, 26, 26);
}
.card_padding h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}
.card a:hover p {
  color: rgb(226, 26, 26);
}
.card a {
  color: black;
  font-size: 16px;
  line-height: 20.8px;
  letter-spacing: 0.01em;
}
.card a p {
  margin: 20px 0;
  max-width: 400px;
}
.card_date {
  color: rgb(226, 26, 26);
}
.card_time {
  color: rgb(118, 125, 137);
  padding-left: 13px;
}
.card_news {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  margin: 0 0px 20px 0px;
}
.card_news-margin {
  margin: 40px 0px 75px 0px;
}
.card_news p {
  margin: 20px;
}
.card_news-block {
  margin: 0 20px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card_news-color {
  color: rgb(118, 125, 137);
}
.card_news-wrap {
  flex-wrap: wrap;
}

.news_bg {
  background-color: rgb(70, 74, 83);
  position: absolute;
  height: 158px;
  width: 100%;
  z-index: -5;
  left: 0;
  bottom: -75px;
}
.news_bg-height {
  height: 100%;
}
.news_bg-border {
  height: 99%;
  border-bottom: 1px solid rgb(118, 125, 137);
}

.position_relative {
  position: relative;
}

.application {
  max-width: 500px;
}
.application_img-mobile {
  display: none;
}
.application_block {
  position: absolute;
  bottom: -310px;
  width: 85%;
}
.application h2, .application h4 {
  color: rgb(255, 255, 255);
}
.application_bg {
  margin-top: 100px;
  margin-bottom: 20px;
  position: relative;
  background-image: url(img/application.png);
  z-index: -5;
  width: 100%;
  height: 311px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  backface-visibility: hidden;
}

footer {
  background-color: rgb(70, 74, 83);
}
footer .svg_color {
  filter: invert(49%) sepia(16%) saturate(277%) hue-rotate(179deg) brightness(97%) contrast(84%);
}

.footer_margin {
  margin: 0 -10px 60px -10px;
}
.footer_contact {
  max-width: 85%;
  min-height: 64px;
}
.footer_contact a, .footer_contact h4, .footer_contact h3 {
  color: rgb(255, 255, 255);
  margin: 0;
}
.footer_contact p {
  margin: 0;
  color: rgb(118, 125, 137);
}
.footer_block {
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.footer_block-grid {
  flex: 1 1 auto;
  width: 27%;
  margin: 0 10px 20px;
}

.copyright, .copyright a {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.01em;
  text-align: left;
  color: rgb(118, 125, 137);
}

.copyright_margin {
  margin: 40px 0 -10px;
}
.copyright_block {
  padding-top: 40px;
  flex: 1 1 auto;
  margin: 0 10px 40px;
  width: 27%;
}
.copyright_flex {
  display: flex;
}
.copyright_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 18px;
}
.copyright_width {
  max-width: 90px;
}
.copyright a:hover {
  color: rgb(226, 26, 26);
}

.content {
  width: 68%;
  margin-left: 20px;
}
.content_flex {
  display: flex;
}
.content_nav {
  width: 32%;
}
.content_nav-bg {
  background-color: rgb(255, 255, 255);
}
.content_nav a {
  color: black;
}
.content_nav a:hover {
  color: rgb(226, 26, 26);
}
.content img {
  width: 100%;
}
.content p {
  margin: 30px 0;
}

ol.with-parentheses {
  counter-reset: myCounter;
  list-style: none;
  padding: 0;
}
ol.with-parentheses > li::before {
  content: counter(myCounter) ") ";
  counter-increment: myCounter;
}

#burger, [for=burger] {
  display: none;
}

.mobile_none {
  display: block;
}

[for=burger_news], #burger_news {
  display: none;
}

.content_nav-head, #content_nav-head {
  display: none;
}

@media (max-width: 1200px) {
  .nav li {
    padding-left: 1.5vw;
    padding-right: 1.5vw;
  }
}
@media (max-width: 992px) {
  [for=burger] {
    display: block;
    position: fixed;
    text-align: center;
    width: 20px;
    top: 10px;
    right: 45px;
    color: black;
    padding: 15px;
  }
  [for=burger]::before {
    content: url(img/burger.png);
  }
  #bg_slider-main {
    max-height: 367px;
  }
  .mask_website {
    height: 31vh;
  }
  #bg_slider-website, .mask_height {
    max-height: 365px;
  }
  .header_mobile {
    z-index: 99;
    position: fixed;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 0 !important;
  }
  .header_mobile .block {
    padding: 0;
  }
  .visually_impaired {
    color: black;
  }
  .visually_impaired:after {
    content: "|";
    color: rgb(118, 125, 137);
  }
  .visually_impaired .svg_color {
    filter: invert(0%) sepia(95%) saturate(0%) hue-rotate(88deg) brightness(96%) contrast(104%);
    margin-right: 20px;
  }
  .svg_search {
    margin-right: 130px;
  }
  .svg_search:after {
    content: "|";
    color: rgb(118, 125, 137);
  }
  .svg_search .svg_color {
    filter: invert(0%) sepia(95%) saturate(0%) hue-rotate(88deg) brightness(96%) contrast(104%);
    margin: 0 20px;
  }
  .logo {
    background-color: red;
    margin: 0;
  }
  .logo img {
    height: 63px;
    width: 86px;
  }
  .nav {
    flex-direction: column;
    width: 100%;
    margin-bottom: 30vh;
  }
  .nav li {
    margin: 0;
    width: 100%;
    padding: 0;
    border-bottom: 1px solid rgb(211, 211, 211);
  }
  .nav li a {
    font-size: 16px;
    line-height: 19px;
    color: black;
  }
  .nav li a p {
    padding: 20px;
  }
  .nav_active:before {
    display: none;
  }
  .nav ul::before {
    display: none;
  }
  nav {
    z-index: 99;
    box-shadow: 0 0 8px rgba(122, 122, 122, 0.5);
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 70px;
    right: 0;
    width: 98%;
    color: black;
    display: none !important;
  }
  nav ul:before {
    display: none;
  }
  #burger:checked + label + nav {
    display: flex !important;
  }
  #burger:checked + [for=burger]::before {
    content: url(img/burger_close.png);
  }
  .heading {
    bottom: 10%;
  }
  .heading h1 {
    margin-bottom: 10px;
  }
  .heading h3 {
    margin-top: 10px;
  }
  .block_between--margin {
    margin: 40px 0;
    flex-direction: column;
  }
  .block_info {
    width: 100%;
    margin: 0 0 20px;
  }
  .card_padding {
    margin: 0 0 20px 0;
  }
  .card_news-margin {
    margin-bottom: 0;
  }
  .application_img-mobile {
    display: block;
  }
  .application_img-mobile img {
    width: 100%;
  }
  .application_block {
    bottom: 40px;
    left: 20px;
  }
  .application_bg {
    margin-top: 80px;
    margin-left: 66px;
    margin-right: 66px;
    width: auto;
    height: auto;
    background-image: none;
  }
  .application > .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .mobile_none {
    display: none;
  }
  .news_bg {
    height: 105px;
    bottom: 0;
  }
  .footer_margin {
    margin: 0 0 60px 0;
  }
  .footer_contact {
    max-width: 85%;
  }
  .footer_block {
    padding-top: 40px;
    flex-direction: column;
    width: 50%;
  }
  .footer_block-grid {
    width: 100%;
    margin: 0 0 20px;
  }
  .copyright_flex {
    justify-content: space-between;
  }
  .copyright_block {
    margin-left: 0;
    margin-right: 0;
  }
  .copyright_icon {
    padding-left: 0;
  }
  .copyright_order1 {
    order: 1;
  }
  .copyright_order2 {
    order: 2;
  }
  .copyright_order3 {
    order: 3;
  }
  .content {
    margin: 0;
    width: 100%;
  }
  .content_nav {
    width: 100%;
  }
  .content_nav-head {
    color: rgb(226, 26, 26);
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  .content_nav-head:after {
    content: url(img/union-bottom.svg);
  }
  .content_flex {
    display: block;
  }
  .nav_company {
    max-height: 0;
    transition: max-height 0.5s ease-out;
    overflow: hidden;
  }
  #content_nav-head:checked + [for=content_nav-head]:after {
    content: url(img/union-top.svg);
  }
  #content_nav-head:checked + [for=content_nav-head] + ul {
    max-height: 1000px;
    transition: max-height 0.5s ease-in;
  }
}
@keyframes show {}
@media (max-width: 576px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
  .visually_impaired p {
    display: none;
  }
  .visually_impaired .svg_color {
    margin-right: 10px;
  }
  .svg_search {
    margin-right: 105px;
  }
  .svg_search .svg_color {
    margin-right: 10px;
    margin-left: 10px;
  }
  [for=burger] {
    right: 18px;
  }
  .mask_height {
    max-height: 540px;
    height: 540px;
  }
  #bg_slider-main {
    max-height: 540px;
    height: 70vh;
  }
  #bg_slider-main h3 {
    margin-bottom: 30px;
  }
  h1 {
    font-size: 26px;
    line-height: 31px;
  }
  h2 {
    font-size: 24px;
    line-height: 26.4px;
  }
  h3 {
    font-size: 16px;
    line-height: 19px;
  }
  .heading {
    left: 16px;
  }
  .footer_license {
    width: 100%;
    padding-top: 40px;
    margin-top: 30px;
    border-top: 1px solid rgb(118, 125, 137);
  }
  .footer_contact {
    min-height: 0;
    max-width: 100%;
  }
  .footer_contact h3, .footer_contact h4 {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .footer_contact a p {
    margin-bottom: 20px;
  }
  .footer_margin {
    padding-top: 40px;
    margin-bottom: 40px;
  }
  .footer_block {
    padding: 0;
    width: 100%;
  }
  .footer_block-grid {
    margin: 0;
  }
  .copyright {
    width: 100%;
  }
  .copyright_icon a {
    display: flex;
    align-items: center;
  }
  .copyright p {
    width: 100%;
  }
  .copyright_flex {
    flex-wrap: wrap;
    justify-content: left;
  }
  .copyright_width {
    max-width: 100%;
  }
  .copyright_block {
    margin: 20px 0;
    padding: 0;
    width: 100%;
  }
  .copyright_margin {
    margin-top: 0;
    flex-direction: column;
  }
  .copyright_order1 {
    border-top: 1px solid rgb(118, 125, 137);
    order: 3;
  }
  .copyright_order3 {
    order: 1;
  }
  .application_block {
    bottom: -445px;
  }
  .application_img-mobile {
    display: none;
  }
  .application_bg {
    margin: 0;
    width: 100%;
    height: 500px;
    background-image: url(img/application567.png);
  }
  .burger_news-menu {
    display: none;
  }
  [for=burger_news] {
    display: block;
  }
  [for=burger_news]::before {
    content: url(img/ellipsis.svg);
    filter: invert(55%) sepia(3%) saturate(114%) hue-rotate(13deg) brightness(92%) contrast(95%);
  }
  #burger_news:checked + [for=burger_news] + .burger_news-menu {
    position: absolute;
    right: 14px;
    top: 25px;
    background-color: rgb(255, 255, 255);
    padding: 8px 82px 8px 10px;
    box-shadow: 0 3px 3px rgba(122, 122, 122, 0.5);
    display: block;
  }
  #burger_news:checked + [for=burger_news]::before {
    filter: invert(26%) sepia(71%) saturate(4360%) hue-rotate(350deg) brightness(89%) contrast(100%);
  }
}

/*# sourceMappingURL=style.css.map */
